header {
	display: flex;
	background: linear-gradient(#fafafa, #eeeeee);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 10px;
	flex-grow: 0;
	flex-shrink: 0;
	z-index: 999;
	max-height: 10vh;
	justify-content: space-between;
	align-items: center;
}

header .logo {
	max-width: 50%;
	max-height: 50px;
	height: 100%;
}

.content {
	overflow-y: auto;
	overflow-x: hidden;
}

.full-size {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100vh;
	overflow: hidden;
}

.plantlist {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow-y: auto;
	flex-grow: 1;
	flex-shrink: 1;
	padding: 10px 0;
}

.plantlist div {
	min-width: 150px;
	min-height: 150px;
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
	background-color: #FFF;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}